body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Warna latar belakang */
}

.bendera-jerman {
    width: 300px; /* Lebar bendera */
    height: 200px; /* Tinggi bendera */
}

.warna-hitam {
    background-color: #000000; /* Warna hitam */
    height: 33.33%; /* 1/3 dari tinggi bendera */
}

.warna-merah {
    background-color: #FF0000; /* Warna merah */
    height: 33.33%; /* 1/3 dari tinggi bendera */
}

.warna-emas {
    background-color: #FFD700; /* Warna emas (kuning) */
    height: 33.33%; /* 1/3 dari tinggi bendera */
}